name: gohlay-kafka-properties
services:

  gohlay:
    image: ghcr.io/vordimous/gohlay
    restart: unless-stopped
    depends_on:
      kafka-data-init:
        condition: service_completed_successfully
    environment:
      GOHLAY_BOOTSTRAP_SERVERS: kafka:29092
      GOHLAY_TOPICS: gohlay
      GOHLAY_VERBOSE: true
    command: |
      run
      -p security.protocol=SASL_PLAINTEXT
      -p sasl.username=user
      -p sasl.password=bitnami
      -p sasl.mechanism=PLAIN

  kafka:
    image: bitnami/kafka:3.9
    restart: unless-stopped
    ports:
      - 9092:9092
    healthcheck:
      test: /opt/bitnami/kafka/bin/kafka-cluster.sh cluster-id --bootstrap-server localhost:29092 || exit 1
      interval: 1s
      timeout: 60s
      retries: 60
    environment:
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_CFG_NODE_ID: "1"
      KAFKA_CFG_BROKER_ID: "1"
      KAFKA_CFG_GROUP_INITIAL_REBALANCE_DELAY_MS: "0"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1@127.0.0.1:9093"
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: "CLIENT:PLAINTEXT,INTERNAL:SASL_PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CFG_LOG_DIRS: "/tmp/logs"
      KAFKA_CFG_PROCESS_ROLES: "broker,controller"
      KAFKA_CFG_LISTENERS: "CLIENT://:9092,INTERNAL://:29092,CONTROLLER://:9093"
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_CFG_ADVERTISED_LISTENERS: "CLIENT://localhost:9092,INTERNAL://kafka:29092"
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_CFG_SASL_ENABLED_MECHANISMS: "PLAIN"
      KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL: "PLAIN"

  kafka-init:
    image: bitnami/kafka:3.9
    user: root
    depends_on:
      kafka:
        condition: service_healthy
        restart: true
    deploy:
      restart_policy:
        condition: none
        max_attempts: 0
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        echo -e "creating client.properties";
        cat <<EOT >> client.properties
        security.protocol=SASL_PLAINTEXT
        sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="user" password="bitnami";
        sasl.mechanism=PLAIN
        EOT
        echo -e "blocks until kafka is reachable";
        /opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 --command-config client.properties --list;
        echo -e "Creating kafka topic";
        /opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 --command-config client.properties --create --if-not-exists --topic gohlay --partitions 3 --config cleanup.policy=compact
        echo -e "Successfully created the following topics:";
        /opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 --command-config client.properties --list;

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui:v1.0.0
    restart: unless-stopped
    ports:
      - 8080:8080
    depends_on:
      kafka:
        condition: service_healthy
        restart: true
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: SASL_PLAINTEXT
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM: PLAIN
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: org.apache.kafka.common.security.scram.ScramLoginModule required username="user" password="bitnami";

  kafkacat:
    image: confluentinc/cp-kafkacat:7.1.9
    command: "bash"
    stdin_open: true
    tty: true

  kafka-data-init:
    image: confluentinc/cp-kafkacat:7.1.9
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        echo '{"id":200000,"message":"Hello, Gohlay"}' | kafkacat -P \
          -b kafka:29092 \
          -X security.protocol=SASL_PLAINTEXT \
          -X sasl.username=user \
          -X sasl.password=bitnami \
          -X sasl.mechanism=PLAIN \
          -k "now" \
          -t gohlay \
          -H GOHLAY="$(date -u)"

        echo '{"id":200000,"message":"Hello, Future Gohlay"}' | kafkacat -P \
          -b kafka:29092 \
          -X security.protocol=SASL_PLAINTEXT \
          -X sasl.username=user \
          -X sasl.password=bitnami \
          -X sasl.mechanism=PLAIN \
          -k "future" \
          -t gohlay \
          -H GOHLAY="$(date -u -d "+30 seconds")"
