name: Extra container builder

on:
  push:


jobs:
  docker-buildx-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/golay
          tags: |
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            type=ref,event=branch
            type=sha
          labels: |
            org.opencontainers.image.title=Golay
            org.opencontainers.image.description=Supporting container for Golay
            org.opencontainers.image.source=https://github.com/${{ github.repository }}/tree/main
          annotations: |
            manifest:org.opencontainers.image.title=Golay
            manifest:org.opencontainers.image.description=Supporting container for Golay
            manifest:org.opencontainers.image.source=https://github.com/${{ github.repository }}/tree/main

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
