name: ci

on:
  push:

jobs:

  release-binaries:
    strategy:
      matrix:
        go-version: [ 1.23 ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run GoReleaser Linux
        run: |
          docker run \
          		--rm \
          		--privileged \
          		-e CGO_ENABLED=1 \
          		-e GITHUB_TOKEN \
          		-v /var/run/docker.sock:/var/run/docker.sock \
          		-v `pwd`:/go/src/$(PACKAGE_NAME) \
          		-w /go/src/$(PACKAGE_NAME) \
          		ghcr.io/goreleaser/goreleaser-cross:${GOLANG_CROSS_VERSION} \
          		--clean --snapshot --config .goreleaser-Linux.yml
        env:
          PACKAGE_NAME: github.com/vordimous/gohlay
          GOLANG_CROSS_VERSION: v${{ matrix.go-version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser MacOS
        run: |
          docker run \
          		--rm \
          		--privileged \
          		-e CGO_ENABLED=1 \
          		-e GITHUB_TOKEN \
          		-v /var/run/docker.sock:/var/run/docker.sock \
          		-v `pwd`:/go/src/$(PACKAGE_NAME) \
          		-w /go/src/$(PACKAGE_NAME) \
          		ghcr.io/goreleaser/goreleaser-cross:${GOLANG_CROSS_VERSION} \
          		--clean --snapshot --config .goreleaser-Darwin-cross.yml
        env:
          PACKAGE_NAME: github.com/vordimous/gohlay
          GOLANG_CROSS_VERSION: v${{ matrix.go-version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
